body{
    background-image: url(bg.jpg);
    background-size: cover;
}
h1{
    color : peachpuff ;
    text-align : center;
    border: 5px solid rgba(7, 77, 130, 0.8);
    cursor: pointer;
}
p{
    color:white;
}